<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>
    Stream Search
  </title>
  <link rel="stylesheet" href="../css/style.css">
</head>
<body>
  <h1>Movie Info</h1>
  <div>
    {{#movie}}
      {{title}}<br/>
      {{release_year}}<br/>
      {{rating}}<br/>
      <a href="https://www.rottentomatoes.com/m/{{rottentomatoes}}" title="">Rotten Tomatoes</a><br/>
      <img src="{{poster_400x570}}" alt=""><br/>
      <br/>
    {{/movie}}
  </div>
</body>
</html>
