<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>
    Stream Search
  </title>
  <link rel="stylesheet" href="../css/foundation.min.css">
  <link rel="stylesheet" href="../css/style.css">
</head>
<body>
  <nav>
    <ul>
      {{#logged_in}}
        <div class="left">
          <li class="navHome"><a href="/" title="Home">Home</a></li>
          <li><span>|</span></li>
          <li><a class='queue' href="/media_queue" title="">View Queue</a></li>
        </div>
        <div class ="center">
          <li><form class="navform" action="/movies/" id="movieForm"><input type="text" name="movieName" id="movieName" placeholder="Movie">
          </form></li>
          <li><form class="navform" action="/shows/" id="showForm"><input type="text" name="showName" id="showName" placeholder="TV Show">
        </div>
        <div class='navLogout'>
          <li ><a href="/logout" title="">Log Out</a></li>
        </div>
      {{/logged_in}}
      {{^logged_in}}
        <div class="left">
          <li class="navHome"><a href="/" title="Home">Home</a></li>
        </div>
        <div class='navLogin'>
          <li><a href="/login" title="">Login</a></li>
          <li><span>|</span></li>
          <li><a href="/signup" title="">Signup</a></li>
        </div>
      {{/logged_in}}
    </ul>
  </nav>
  <div class='spacer'></div>
  <h1>Show Info</h1>
  <div class="showContainer">
    {{#show}}
    <div class='show' data-show_id="{{id}}" onclick=>
      <div class='info'>
        <div class='title'>{{title}}</div>
        <div class='first_aired'>{{first_aired}}</div>
        <div class='rating'>{{rating}}</div>
        <div class='overview'>{{overview}}</div>
        <div class='purchase_web_sources'>
      </div>
      <img src="{{artwork}}" alt=""><br/>
      <br/>
    </div>
    {{/show}}
  </div>
</body>
</html>
