<!doctype html>
<html>
  <head>
    <link href="../css/foundation.min.css" rel="stylesheet" type="text/css">
    <link href="../css/style.css" rel="stylesheet" type="text/css">
    <link href='https://fonts.googleapis.com/css?family=Rye' rel='stylesheet' type='text/css'>
  </head>
  <body>
    <nav>
      <ul>
        {{#logged_in}}
          <div class="left">
            <li class="navHome"><a href="/" title="Home">Home</a></li>
            <li><span>|</span></li>
            <li><a class='queue' href="/media_queue" title="">View Queue</a></li>
          </div>
          <div class ="center">
            <li><form class="navform" action="/movies/" id="movieForm"><input type="text" name="movieName" id="movieName" placeholder="Movie">
            </form></li>
            <li><form class="navform" action="/shows/" id="showForm"><input type="text" name="showName" id="showName" placeholder="TV Show">
          </div>
          <div class='navLogout'>
            <li ><a href="/logout" title="">Log Out</a></li>
          </div>
        {{/logged_in}}
        {{^logged_in}}
          <div class="left">
            <li class="navHome"><a href="/" title="Home">Home</a></li>
          </div>
          <div class='navLogin'>
            <li><a href="/login" title="">Login</a></li>
            <li><span>|</span></li>
            <li><a href="/signup" title="">Signup</a></li>
          </div>
        {{/logged_in}}
      </ul>
    </nav>
    <div class='spacer'></div>
    <div class="main-container">
      <div class="border-container">
        <h1>Super Secure Signup Page</h1>
        <div class="col-lg-6 center-block">
          <div class="well bs-component">
            <form class="form-horizontal" action="/signup" method="post">
              <fieldset>
                <legend>Sign Up</legend>
                <div class="forms form-group">
                  <label for="inputFirstName" class="col-lg-2 control-label">First Name</label>
                  <div class="col-lg-10">
                    <input name="first_name" type="text" class="form-control" id="inputFirstName" placeholder="First Name">
                  </div>
                </div>
                <div class="forms form-group">
                  <label for="inputLastName" class="col-lg-2 control-label">Last Name</label>
                  <div class="col-lg-10">
                    <input name="last_name" type="text" class="form-control" id="inputLastName" placeholder="Last Name">
                  </div>
                </div>
                <div class="forms form-group">
                  <label for="inputEmail" class="col-lg-2 control-label">Email</label>
                  <div class="col-lg-10">
                    <input name="email" type="text" class="form-control" id="inputEmail" placeholder="Email">
                  </div>
                </div>
                <div class="forms form-group">
                  <label for="inputPassword" class="col-lg-2 control-label">Password</label>
                  <div class="col-lg-10">
                    <input name="password" type="password" class="form-control" id="inputPassword" placeholder="Password">
                  </div>
                </div>
                <div class="form-group">
                  <div class="col-lg-10 col-lg-offset-2">
                    <button type="submit" class="btn btn-primary">Join!</button>
                  </div>
                </div>
              </fieldset>
            </form>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
