/* Background gradient overlay from https://css-tricks.com/tinted-images-multiple-backgrounds/ */

body {
  /* width: 100%; */
  /* max-height:  100%; */
  text-align: center;
  color: white;
  background:
    linear-gradient(
      rgba(0, 0, 0, 0.7),
      rgba(0, 0, 0, 0.7)),
    url('https://source.unsplash.com/collection/255593') no-repeat center center fixed;
    /* url('../background.jpg') no-repeat center center fixed; */
  background-size: cover;
}

label {
  color: white;
}

nav{
  position: fixed;
  width: 100%;
  margin-bottom: 2em;
  padding: 0.5% 0;
  background: linear-gradient(
      rgba(20, 30, 30, 1.0),
      rgba(50, 50, 100, 1.0));
}

nav .navHome{
  float: left;
}

nav .navLogin{
  margin-right: 2%;
  position: relative;
  float: right;
}

nav .navform{
  display: inline-block;
  height: 1em;
}

nav .navform input{
  height: 10px;
  border-radius: 40px;
  text-align: center;
}

nav ul {
  margin-bottom: 0;
}

nav li{
  list-style: none;
  display: inline-block;
}

.spacer{
  padding-top: 7%;
}

header{
  text-align: center;
  color: white;
  padding-top: 20%;
}

.formContainer{
  text-align: center;
  color: white;
}

.forms{
  display: inline-block;
  width: 80%;
}

.forms input {
  background-color: rgb(255, 255, 255);
  border-radius: 40px;
  text-align: center;
}

.movie {
  padding: 20px;
}

.row {
  max-height: 25em;
}

.movie img{
  max-width: 70%;
}

.button {
  width: 10em;
}
